.role-user {
  font-weight: bold;
  padding: 10px 0 10px;
  margin: 10px 0 10px;
}

.role-assistant {
  font-family: monospace;
  background-color: #dddddd;
  padding: 10px;
  margin: 10px 0 10px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}