jsonref
snowballstemmer
jieba
rank_bm25
faiss-cpu
charset_normalizer
beautifulsoup4
pdfminer.six
pdfplumber
python-docx
python-pptx
pandas
tabulate
openai
numpy
anyio>=3.7.1
fastapi>=0.103.1
jupyter>=1.0.0
matplotlib
pillow
seaborn
sympy
uvicorn>=0.23.2
gradio==4.21.0
modelscope-studio>=0.4.0
dashscope>=1.11.0
eval_type_backport
json5
jsonlines
pydantic>=2.3.0
requests
tiktoken